.well h3 {
  margin: 0 0 10px 0;
}

.well h3:last-child {
  margin: 0;
}

p {
  font-size: 16px;
}

.footer {
  margin: 10px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer div {
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
  border-right: 1px solid #444;
}

.footer div:last-child {
  margin: 0;
  padding: 0;
  border-right: 0;
}
